@use "@/06-shared/assets/breakpoints.scss";

* {
  box-sizing: border-box;
}

html {
  @include breakpoints.media-above-1921 {
    font-size: clamp(12px, 0.93vw, 36px);
  }
}

html,body {
  height: 100%;
}

html body {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-stretch: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  background: var(--bg-color);
}

.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);

  @include breakpoints.media-above-1921 {
    max-width: 1720px;
  }

  @include breakpoints.media-above-2560 {
    max-width: 1920px;
  }

  @include breakpoints.media-above-3840 {
    max-width: 2560px;
  }
}

.section-title {
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 2rem;
  line-height: 100%;
  color: var(--text-color-1);
  text-align: center;

  &::before,
  &::after {
    content: "";
    flex: 1;
    height: 1px;
    background: var(--card-color);
  }

  &::before {
    margin: 0 1rem 0 0;
  }

  &::after {
    margin: 0 0 0 1rem;
  }

  @include breakpoints.media-under-md {
    font-size: 1.25rem;
  }

  @include breakpoints.media-under-sm {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

ul,
li,
ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

button {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  background: transparent;
}

a {
  text-decoration: none;
}

input {
  border: none;
  outline: none;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}